
.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  
  
  .login {
    border-radius: 8px;
    font-family: poppins;
    font-weight: bold;;
    background-color: #282c34;
    color: white;
    border: 3px solid #A61B1B;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
  }

  .login:hover {
    background-color: #A61B1B;
    color: #282c34;
  
    transition: background-color 0.3s;
  } 
  

  .signup {
    border-radius: 8px;
    font-family: poppins;
    font-weight: bold;;
    background-color: #A61B1B;
    color: #282c34;
    border: 3px solid #A61B1B;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .signup:hover {
    background-color: #282c34;
    color: white;
  
    transition: background-color 0.3s;
  }


.report-button {
  background: linear-gradient(145deg, #ff1e1e, #d60000);
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 25px;
  border: 5px solid #282c34;
  border-radius: 50%;
  cursor: pointer;
  width: 190px;
  height: 190px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), inset 0 4px 6px rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}


.report-button:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35), inset 0 4px 8px rgba(255, 255, 255, 0.15);
  transform: translateY(-8px);
}


.report-button:active {
  transform: translateY(2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), inset 0 4px 6px rgba(0, 0, 0, 0.1);
}